#fondo {
    background: honeydew;
}

figcaption .fondo2{
    background: forestgreen;
}



tr{
    border: lightskyblue;
    border-style: dashed double dotted ;

   

}

.checkok{
    color: mediumseagreen;
}


.fmodal{
    background: wheat;
}
